{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Frost is your average everyday guy with a knack for sharing on his beliefs as well as dreams for the future..plus an avid love for <strong>cars, music, tech and food</strong></p>
        <p><strong>Frost's Flakes</strong>, is the editorial subsidiary of tech conglomerate<em>IceBerg LLC</em>. Its main aim is to interact with teens by offering a free platform to share, interact, laugh and cry with total anonimity.</p>
        <p>Join the club and share your thoughts. Be part of <strong>THE ICE PACK</strong></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}